In [1]:
import src.getdata as getdata
df = getdata.readcsv('../static/大众点评评论数据.csv')
df

/Users/zhengjie/20222023s/IT项目管理/databigworkback/src/getdata.py:5: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(address, encoding='gb18030')

,Review_ID,Merchant,Rating,Score_taste,Score_environment,Score_service,Price_per_person,Time,Num_thumbs_up,Num_ response,Content_review,Reviewer,Reviewer_value,Reviewer_rank,Favorite_foods,Month,Year
0,377313283,炳胜品味(珠江新城店),3,3,3,2,空,2017-10-23,2,1,来广州出差，住在附近的康莱德酒店，晚上开完会就慕名而来，大概七点四十分的样子到的，人还有很多...,胖子界的瘦子吴,5,1,NaN,10,2017
1,376404966,炳胜品味(珠江新城店),4,3,4,3,空,2017-10-19,2,0,?·??·??前言本来是朋友约我们来的，结果朋友临时有事走不开，就我俩在这儿吃了。?·??·...,快快到盆里来,6,1,NaN,10,2017
2,374370927,炳胜品味(珠江新城店),4,3,3,2,空,2017-10-09,0,0,朋友结婚选择在这里摆酒，在猎德A出口出来，直行转入兴盛路？再直行，走到天汇广场，过马路，再一...,Yyg喵,3,1,NaN,10,2017
3,377270662,炳胜品味(珠江新城店),4,3,3,3,155,2017-10-23,0,0,据说是个老子号，听名字就感觉很广东??，很正宗的样子！！这家分店打听了一下，说是地儿最大，环...,肥螳螂_,4,1,干炒牛河 炳胜荔枝鸡,10,2017
4,377184095,炳胜品味(珠江新城店),4,3,3,3,空,2017-10-23,0,0,周末不煮饭的日子，偶来啦??。中午12点多到店，3楼满了??让到2楼，2楼说要到1楼拿号??...,hhy_0919,4,1,NaN,10,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467450,116838734,大鸽饭(江燕路店),5,4,3,3,空,2014-03-07,0,0,没有因为团购而减少，汤很好喝，乳鸽烧得不错，非常满意,卓彤,2,0,NaN,3,2014
467451,51639859,大鸽饭(江燕路店),5,3,3,3,30,2014-01-31,0,1,味道还可以，上菜速度快，环境适中，价钱便宜，适合一家大小出去吃饭,星Steven,0,0,NaN,1,2014
467452,44637865,大鸽饭(江燕路店),3,2,3,0,空,2013-07-28,0,1,味精味越來越重而且服務太差衹是要求換桌子那個主任居然扔我的單子然後茶位都不幫我開就走了不會再...,yeetingg,0,0,NaN,7,2013
467453,43069187,大鸽饭(江燕路店),1,1,1,0,空,2013-06-14,1,0,服务员部长人手不足，等好耐都无人招呼，个经理d态度劲差啊，今时今日甘嘅服务态度，一定唔会再帮...,GZ的小嫦嫦,0,0,NaN,6,2013
467454,40450305,大鸽饭(江燕路店),4,3,3,3,50,2013-04-03,2,0,我们有个同事最喜欢来这家店了，每次电话给他，都说在大鸽饭呢，心想：有这么好吃吗？今天带上家里...,爱在打工时,0,0,NaN,4,2013

In [2]:
# 计算各个Merchant的评论数
df_heat=round(df['Merchant'].value_counts()/len(df)*100,2)
heat_data=[]
# 前十单独分，其他的归为其他
for i in range(len(df_heat)):
    if i<10:
        heat_data.append({'name':df_heat.index[i],'value':df_heat.values[i]})
    elif i==10:
        heat_data.append({'name':'其他','value':df_heat.values[i]})
    else:
        heat_data[10]['value']+=df_heat.values[i]
heat_data

[{'name': '纯再餐厅(光明广场店)', 'value': 4.22},
 {'name': '點都德(聚福楼)', 'value': 3.89},
 {'name': '泮溪酒家', 'value': 2.98},
 {'name': '炳胜品味(珠江新城店)', 'value': 2.94},
 {'name': '广州酒家(百福广场店)', 'value': 2.88},
 {'name': '點都德汇点楼', 'value': 2.72},
 {'name': '广州酒家(文昌店)', 'value': 2.53},
 {'name': '點都德(喜粤楼)', 'value': 2.51},
 {'name': '悦榕庄(穗盐路店)', 'value': 1.97},
 {'name': '广东道至正餐厅(区庄店)', 'value': 1.78},
 {'name': '其他', 'value': 71.60999999999999}]

In [31]:
# 用户复购分析，计算相同餐厅相同用户的评论数
df_heat2=df.groupby(['Merchant','Reviewer']).size().reset_index().rename(columns={0:'count'})
df_heat2

                  Merchant     Reviewer  count
0               2号唐厨(优托邦店)  *****k*****      1
1               2号唐厨(优托邦店)  **TT**_1835      1
2               2号唐厨(优托邦店)      *A-ki君*      1
3               2号唐厨(优托邦店)     *CarCar*      1
4               2号唐厨(优托邦店)  *DAVlDWANG*      1
...                    ...          ...    ...
453295  龙庭琇厨·海派粤式融合菜(广州分店)       鬼鬼(楚槐)      1
453296  龙庭琇厨·海派粤式融合菜(广州分店)          鰻魚仔      1
453297  龙庭琇厨·海派粤式融合菜(广州分店)       黄二小要奋斗      1
453298  龙庭琇厨·海派粤式融合菜(广州分店)      黄梓轩_980      1
453299  龙庭琇厨·海派粤式融合菜(广州分店)       齐哇哇吃西瓜      1

[453300 rows x 3 columns]

In [32]:
import pandas as pd
# 相同餐厅相同用户的评论数大于1的为复购用户，计算每家餐厅复购用户和所有用户分别的数量
df_heat2_all=df_heat2.groupby('Merchant').size().reset_index().rename(columns={0:'总数量'})
df_heat2=df_heat2[df_heat2['count']>1]
df_heat2_more=df_heat2.groupby('Merchant').size().reset_index().rename(columns={0:'复购数量'})
df_heat2=pd.merge(df_heat2_all,df_heat2_more,on='Merchant')
df_heat2['复购比例']=round(df_heat2['复购数量']/df_heat2['总数量']*100,2)
# 按复购数量倒序排序
df_heat2=df_heat2.sort_values(by='复购数量',ascending=False)
again_data=[]
for i in range(len(df_heat2)):
    again_data.append({'name':df_heat2['Merchant'].values[i],'总数量':df_heat2['总数量'].values[i],'复购数量':df_heat2['复购数量'].values[i],'复购比例':df_heat2['复购比例'].values[i]})
again_data

[{'name': '炳胜品味(珠江新城店)', '总数量': 6862, '复购数量': 6862, '复购比例': 100.0},
 {'name': '麓苑轩酒家', '总数量': 2912, '复购数量': 2912, '复购比例': 100.0},
 {'name': '阿一鲍鱼(天河北旗舰店)', '总数量': 2263, '复购数量': 2263, '复购比例': 100.0},
 {'name': '炳胜品味(黄埔大道店)', '总数量': 1219, '复购数量': 1219, '复购比例': 100.0},
 {'name': '成记农庄●鹿肉宴', '总数量': 342, '复购数量': 342, '复购比例': 100.0},
 {'name': '纯再餐厅(光明广场店)', '总数量': 19520, '复购数量': 207, '复购比例': 1.06},
 {'name': '稻香酒家(太阳城分店)', '总数量': 3589, '复购数量': 29, '复购比例': 0.81},
 {'name': '北园酒家(小北路店)', '总数量': 1734, '复购数量': 12, '复购比例': 0.69},
 {'name': '广州酒家(文昌店)', '总数量': 11799, '复购数量': 7, '复购比例': 0.06},
 {'name': '大鸽饭(旗舰店)', '总数量': 4624, '复购数量': 4, '复购比例': 0.09},
 {'name': '點都德(喜粤楼)', '总数量': 11717, '复购数量': 4, '复购比例': 0.03},
 {'name': '泮溪酒家', '总数量': 13926, '复购数量': 4, '复购比例': 0.03},
 {'name': '长隆酒店麒麟中餐厅', '总数量': 1337, '复购数量': 3, '复购比例': 0.22},
 {'name': '大洋家.海鲜砂锅粥', '总数量': 1511, '复购数量': 3, '复购比例': 0.2},
 {'name': '點都德(花城楼)', '总数量': 3821, '复购数量': 2, '复购比例': 0.05},
 {'name': '洲记阳山农家菜', '总数量': 140, '复购数量': 2, '复购比例': 1.43},
 {'name': '海晏楼(滨江东总店)', '总数量': 4280, '复购数量': 2, '复购比例': 0.05},
 {'name': '點都德(海燕楼)', '总数量': 3307, '复购数量': 1, '复购比例': 0.03},
 {'name': 'SKY NO.1空中一号', '总数量': 5859, '复购数量': 1, '复购比例': 0.02},
 {'name': '臻品·小炳胜(天环店)', '总数量': 1382, '复购数量': 1, '复购比例': 0.07},
 {'name': '至潮餐厅', '总数量': 1492, '复购数量': 1, '复购比例': 0.07},
 {'name': '榕记·专注蛇宴(东沙总店)', '总数量': 1586, '复购数量': 1, '复购比例': 0.06},
 {'name': '德尚煌顺德菜(四季天地店)', '总数量': 1849, '复购数量': 1, '复购比例': 0.05},
 {'name': '小炳胜', '总数量': 5685, '复购数量': 1, '复购比例': 0.02},
 {'name': '點都德汇点楼', '总数量': 12694, '复购数量': 1, '复购比例': 0.01}]

In [3]:
#

In [81]:
merchantsname1="阿一鲍鱼(天河北旗舰店)"
merchantsname2="深香狮头鹅-新派潮菜"
merchantsname3="麓苑轩酒家"
merchantslist=[merchantsname1,merchantsname2,merchantsname3]
# 只保留merchantsname的相关记录
df_current=df[df['Merchant'].isin(merchantslist)]
# df_current = df[(df['Merchant'] == merchantsname1) | (df['Merchant'] == merchantsname2) | (df['Merchant'] == merchantsname3)]
# 按餐厅和月汇总2017年的评论数
df_2017=df_current[df_current['Year']==2017]
df_2017=df_2017.groupby(['Month','Merchant']).count()['Reviewer']
# 按照Month列对df_2017排序
df_2017=df_2017.sort_index()
# 去除索引
df_2017=df_2017.reset_index()
df_2017

    Month      Merchant  Reviewer
0       1  阿一鲍鱼(天河北旗舰店)        44
1       1         麓苑轩酒家        90
2       2  阿一鲍鱼(天河北旗舰店)        40
3       2         麓苑轩酒家        42
4       3  阿一鲍鱼(天河北旗舰店)        16
5       3         麓苑轩酒家        94
6       4  阿一鲍鱼(天河北旗舰店)        32
7       4         麓苑轩酒家        78
8       5  阿一鲍鱼(天河北旗舰店)        30
9       5         麓苑轩酒家        56
10      6  阿一鲍鱼(天河北旗舰店)        20
11      6         麓苑轩酒家        68
12      7  阿一鲍鱼(天河北旗舰店)        26
13      7         麓苑轩酒家       108
14      8    深香狮头鹅-新派潮菜         2
15      8  阿一鲍鱼(天河北旗舰店)        20
16      8         麓苑轩酒家        74
17      9    深香狮头鹅-新派潮菜         7
18      9  阿一鲍鱼(天河北旗舰店)        32
19      9         麓苑轩酒家        56
20     10    深香狮头鹅-新派潮菜        23
21     10  阿一鲍鱼(天河北旗舰店)        30
22     10         麓苑轩酒家        58

In [101]:
month_data=[]
# 将每月不同餐厅的评论数放入month_data
for i in range(len(df_2017['Month'].unique())):
    month_data.append(
        {'name':str(df_2017['Month'].unique()[i])+"月",
         'merchant1':int(df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[0])]['Reviewer'].values if df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[0])]['Reviewer'].values else 0),
         'merchant2':int(df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[1])]['Reviewer'].values if df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[1])]['Reviewer'].values else 0),
         'merchant3':int(df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[2])]['Reviewer'].values if df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[2])]['Reviewer'].values else 0)
         })
month_data

/var/folders/zj/zs9jhhmn1zs7p_t_thgtq0bm0000gn/T/ipykernel_83028/3831235231.py:9: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  'merchant2':int(df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[1])]['Reviewer'].values if df_2017[(df_2017['Month']==df_2017['Month'].unique()[i]) & (df_2017['Merchant']==merchantslist[1])]['Reviewer'].values else 0),

[{'name': '1月', 'merchant1': 44, 'merchant2': 0, 'merchant3': 90},
 {'name': '2月', 'merchant1': 40, 'merchant2': 0, 'merchant3': 42},
 {'name': '3月', 'merchant1': 16, 'merchant2': 0, 'merchant3': 94},
 {'name': '4月', 'merchant1': 32, 'merchant2': 0, 'merchant3': 78},
 {'name': '5月', 'merchant1': 30, 'merchant2': 0, 'merchant3': 56},
 {'name': '6月', 'merchant1': 20, 'merchant2': 0, 'merchant3': 68},
 {'name': '7月', 'merchant1': 26, 'merchant2': 0, 'merchant3': 108},
 {'name': '8月', 'merchant1': 20, 'merchant2': 2, 'merchant3': 74},
 {'name': '9月', 'merchant1': 32, 'merchant2': 7, 'merchant3': 56},
 {'name': '10月', 'merchant1': 30, 'merchant2': 23, 'merchant3': 58}]

In [102]:
# 做2015年第一季度到2017年第三季度分餐厅分季度汇总的评论数
import math
df_current['Quarter']=df_current['Year'].astype(str)+'Q'+(df_current['Month']/3).apply(lambda x:math.ceil(x)).astype(str)
df_2015_2017=df_current[(df_current['Year']>=2015) & (df_current['Year']<=2017)]
df_2015_2017=df_2015_2017.groupby(['Quarter','Merchant']).count()['Reviewer']
# 按照季度排序
df_2015_2017=df_2015_2017.sort_index()
# 去除索引
df_2015_2017=df_2015_2017.reset_index()
df_2015_2017

/var/folders/zj/zs9jhhmn1zs7p_t_thgtq0bm0000gn/T/ipykernel_83028/4185141354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_current['Quarter']=df_current['Year'].astype(str)+'Q'+(df_current['Month']/3).apply(lambda x:math.ceil(x)).astype(str)

   Quarter      Merchant  Reviewer
0   2015Q1  阿一鲍鱼(天河北旗舰店)       576
1   2015Q1         麓苑轩酒家       352
2   2015Q2  阿一鲍鱼(天河北旗舰店)       494
3   2015Q2         麓苑轩酒家       644
4   2015Q3  阿一鲍鱼(天河北旗舰店)       376
5   2015Q3         麓苑轩酒家       740
6   2015Q4  阿一鲍鱼(天河北旗舰店)       324
7   2015Q4         麓苑轩酒家       746
8   2016Q1  阿一鲍鱼(天河北旗舰店)       228
9   2016Q1         麓苑轩酒家       666
10  2016Q2  阿一鲍鱼(天河北旗舰店)       174
11  2016Q2         麓苑轩酒家       406
12  2016Q3  阿一鲍鱼(天河北旗舰店)       138
13  2016Q3         麓苑轩酒家       396
14  2016Q4  阿一鲍鱼(天河北旗舰店)        86
15  2016Q4         麓苑轩酒家       828
16  2017Q1  阿一鲍鱼(天河北旗舰店)       100
17  2017Q1         麓苑轩酒家       226
18  2017Q2  阿一鲍鱼(天河北旗舰店)        82
19  2017Q2         麓苑轩酒家       202
20  2017Q3    深香狮头鹅-新派潮菜         9
21  2017Q3  阿一鲍鱼(天河北旗舰店)        78
22  2017Q3         麓苑轩酒家       238
23  2017Q4    深香狮头鹅-新派潮菜        23
24  2017Q4  阿一鲍鱼(天河北旗舰店)        30
25  2017Q4         麓苑轩酒家        58

In [103]:
quarter_data=[]
for i in range(len(df_2015_2017['Quarter'].unique())):
    quarter_data.append(
        {'name':str(df_2015_2017['Quarter'].unique()[i]),
         'merchant1':int(df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[0])]['Reviewer'].values if df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[0])]['Reviewer'].values else 0),
         'merchant2':int(df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[1])]['Reviewer'].values if df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[1])]['Reviewer'].values else 0),
         'merchant3':int(df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[2])]['Reviewer'].values if df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[2])]['Reviewer'].values else 0)
         })
quarter_data

/var/folders/zj/zs9jhhmn1zs7p_t_thgtq0bm0000gn/T/ipykernel_83028/4049706714.py:6: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  'merchant2':int(df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[1])]['Reviewer'].values if df_2015_2017[(df_2015_2017['Quarter']==df_2015_2017['Quarter'].unique()[i]) & (df_2015_2017['Merchant']==merchantslist[1])]['Reviewer'].values else 0),

[{'name': '2015Q1', 'merchant1': 576, 'merchant2': 0, 'merchant3': 352},
 {'name': '2015Q2', 'merchant1': 494, 'merchant2': 0, 'merchant3': 644},
 {'name': '2015Q3', 'merchant1': 376, 'merchant2': 0, 'merchant3': 740},
 {'name': '2015Q4', 'merchant1': 324, 'merchant2': 0, 'merchant3': 746},
 {'name': '2016Q1', 'merchant1': 228, 'merchant2': 0, 'merchant3': 666},
 {'name': '2016Q2', 'merchant1': 174, 'merchant2': 0, 'merchant3': 406},
 {'name': '2016Q3', 'merchant1': 138, 'merchant2': 0, 'merchant3': 396},
 {'name': '2016Q4', 'merchant1': 86, 'merchant2': 0, 'merchant3': 828},
 {'name': '2017Q1', 'merchant1': 100, 'merchant2': 0, 'merchant3': 226},
 {'name': '2017Q2', 'merchant1': 82, 'merchant2': 0, 'merchant3': 202},
 {'name': '2017Q3', 'merchant1': 78, 'merchant2': 9, 'merchant3': 238},
 {'name': '2017Q4', 'merchant1': 30, 'merchant2': 23, 'merchant3': 58}]